absl-py==0.7.1
backcall==0.1.0
blessings==1.7
cycler==0.10.0
decorator==4.4.0
future==0.17.1
gpustat==0.5.0
grpcio==1.21.1
ipdb==0.12
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.20
jedi==0.13.3
kiwisolver==1.1.0
lmdb==0.95
Markdown==3.1.1
matplotlib==3.1.0
numpy==1.16.4
nvidia-ml-py3==7.352.0
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.3.2
prompt-toolkit==2.0.9
protobuf==3.8.0
psutil==5.6.3
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.0
python-dateutil==2.8.0
six==1.12.0
tb-nightly==1.15.0a20190619
torch==0.4.1
torchvision==0.2.2
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.4
